.card {
  height: 150px;
  width: 120px;
  border: 1px solid rgb(211 78 78);
  background-color: rgba(255, 252, 236, 0.75);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.card_isClosed {
  background: repeating-linear-gradient(
      -55deg,
      rgba(255, 252, 236, 0.75) 2px 4px,
      rgba(150, 195, 167, 0.75) 4px 6px,
      rgba(255, 252, 236, 0.75) 6px 8px,
      rgba(150, 195, 167, 0.75) 8px 10px,
      rgba(255, 252, 236, 0.75) 10px 12px,
      rgba(150, 195, 167, 0.75) 12px 13px,
      rgba(255, 252, 236, 0.75) 13px 15px,
      rgba(150, 195, 167, 0.75) 15px 15.5px,
      rgba(255, 252, 236, 0.75) 15.5px 17.5px,
      rgba(150, 195, 167, 0.75) 17.5px 18px,
      rgba(255, 252, 236, 0.75) 18px 20px,
      rgba(150, 195, 167, 0.75) 20px 20.5px,
      rgba(255, 252, 236, 0.75) 20.5px 22px,
      rgba(150, 195, 167, 0.75) 22px 22.5px,
      rgba(255, 252, 236, 0.75) 22.5px 24.5px,
      rgba(150, 195, 167, 0.75) 24.5px 25.5px,
      rgba(255, 252, 236, 0.75) 25.5px 27.5px,
      rgba(150, 195, 167, 0.75) 27.5px 29.5px,
      rgba(255, 252, 236, 0.75) 29.5px 31.5px,
      rgba(150, 195, 167, 0.75) 31.5px 33.5px,
      rgba(255, 252, 236, 0.75) 33.5px 37.5px,
      rgba(150, 195, 167, 0.75) 37.5px 38px,
      rgba(255, 252, 236, 0.75) 38px 39px,
      rgba(150, 195, 167, 0.75) 39px 40px,
      rgba(255, 252, 236, 0.75) 40px 41px,
      rgba(150, 195, 167, 0.75) 41px 41.5px,
      rgba(255, 252, 236, 0.75) 41.5px 43.5px
    ),
    repeating-linear-gradient(
      55deg,
      rgba(255, 252, 236, 0.75) 2px 4px,
      rgb(207 0 0) 4px 6px,
      rgba(255, 252, 236, 0.75) 6px 8px,
      rgb(207 0 0) 8px 10px,
      rgba(255, 252, 236, 0.75) 10px 12px,
      rgb(207 0 0) 12px 13px,
      rgba(255, 252, 236, 0.75) 13px 15px,
      rgb(207 0 0) 15px 15.5px,
      rgba(255, 252, 236, 0.75) 15.5px 17.5px,
      rgb(207 0 0) 17.5px 18px,
      rgba(255, 252, 236, 0.75) 18px 20px,
      rgb(207 0 0) 20px 20.5px,
      rgba(255, 252, 236, 0.75) 20.5px 22px,
      rgb(207 0 0) 22px 22.5px,
      rgba(255, 252, 236, 0.75) 22.5px 24.5px,
      rgb(207 0 0) 24.5px 25.5px,
      rgba(255, 252, 236, 0.75) 25.5px 27.5px,
      rgb(207 0 0) 27.5px 29.5px,
      rgba(255, 252, 236, 0.75) 29.5px 31.5px,
      rgb(207 0 0) 31.5px 33.5px,
      rgba(255, 252, 236, 0.75) 33.5px 37.5px,
      rgb(207 0 0) 37.5px 38px,
      rgba(255, 252, 236, 0.75) 38px 39px,
      rgb(207 0 0) 39px 40px,
      rgba(255, 252, 236, 0.75) 40px 41px,
      rgb(207 0 0) 41px 41.5px,
      rgba(255, 252, 236, 0.75) 41.5px 43.5px
    );
}
